* {
    margin: 0;
    padding: 0;
}

h1 {
    display: block;
    width: 100%;
    background: #666;
}

.document-viewer {
    position: relative;
    overflow: hidden;
    height: 1100px;
}

.image-wrapper {
    position: absolute;
    width: 100%;
    touch-action: pan-x pan-y !important;
}

img {
    width: 100%;
    height: auto;
}